{% extends 'bases/base.html' %}
{% load static %}


{% block navbar %}
<a class="navbar-brand" href="#page-top">EasyMeal</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'recetas' %}">Recetas</a></li>
        <li class="nav-item"><a class="nav-link" href="#valores">Nuestros Valores</a></li>
        <li class="nav-item"><a class="nav-link" href="#unete">Únete</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
    </ul>
</div>
{% endblock %}


{% block contenido %}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">EasyMeal</h1>
                <h2 class="subtitulo-texto mx-auto mt-2 mb-5">PRIMER KIT DE COMIDA PARA TU HOGAR</h2>
            </div>
        </div>
    </div>
</header>
<!-- Valores-->
<section class="valores-section text-center" id="valores">
    <div>
        <h1 class="text-black nuestros-valores">Nuestros Valores</h2>
        <div id="valores1">
            <div class="valores" id="Flexibilidad">
                <h3 class="text-black mb-3">
                    Flexibilidad
                </h3>
                <p class="description-valores">
                    Comprometidos con comidas asequibles que ahorran tiempo y que se adaptan a cualquier estilo de vida y presupuesto.
                </p>
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/Flexibilidad.png' %}" alt="..." />
            </div>
            <div class="valores" if="Ingredientes">
                <h3 class="text-black mb-3">
                    Ingredientes Frescos
                </h3>
                <p class="description-valores">
                    Productos de calidad tratados con cuidado desde el proveedor hasta tu casa.
                </p>
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/Ingredientes.png' %}" alt="..." />
            </div>
            <div class="valores" if="Opciones">
                <h3 class="text-black mb-3">
                    Posibilidades Deliciosas
                </h3>
                <p class="description-valores">
                    Descubra nuevas y deliciosas posibilidades de comidas con un amplio menú elaborado por chefs.
                </p>
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/Opciones.png' %}" alt="..." />
            </div>
        </div>
        <div id="valores2">
            <div class="valores" if="Sustentabilidad">
                <h3 class="text-black mb-3">
                    Soluciones Sostenibles
                </h3>
                <p class="description-valores">
                    Reducir el desperdicio de alimentos y garantizar entregas con compensación de CO2 para su caja.
                </p>
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/Sustentabilidad.png' %}" alt="..." />
            </div>
            <div class="valores" if="Salud">
                <h3 class="text-black mb-3">
                    Salud
                </h3>
                <p class="description-valores">
                    Creemos que la comida es un pilar estructural de la salud, es por esto que contamos con la validación de expertos nutricionistas en nuestras recetas.
                </p>
                <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/Salud.png' %}" alt="..." />
            </div>
        </div>
        <div id="final-valores">
            <div class="texto-final-valores">
                <h2 class="texto-final-valores">
                    CAMBIEMOS LA FORMA EN QUE LA GENTE COME
                </h2>
                <p class="texto-final-valores description-valores">
                    Descubre el placer de cocinar con EasyMeal: tu solución para cenas deliciosas y sin estrés. Nosotros te entregamos ingredientes frescos y recetas fáciles directo a tu puerta, permitiéndote disfrutar la aventura culinaria en casa. Personaliza tu menú semanal, explora sabores nuevos y reduce el desperdicio de alimentos, todo mientras mantienes una alimentación saludable y balanceada. Con EasyMeal, transforma cualquier noche de la semana en una experiencia culinaria especial.
                </p>
            </div>
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/healthy_food.jpg' %}" alt="..."  />
        </div>
    </div>
</section>
<!-- Únete -->
<section class="unete-section bg-light" id="unete">
    <div class="container px-4 px-lg-5">
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/Delivery.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h3 class="text-white">Únete a nosotros</h4>
                            <p class="mb-0 text-white-80">Súmate a la nueva forma de comer! Explora nuestras opciones y haz tu primer pedido. </p>
                            <a class="btn btn-unete" href="{% url 'recetas' %}">Ver Recetas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="contacto">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Suscríbete para obtener las últimas noticias!</h2>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Email address input-->
                    <div class="row input-group-newsletter">
                        <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Ingresa tu mail..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                        <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Te contactámos!</button></div>
                    </div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">Se requiere un email.</div>
                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email no es válido.</div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2 text-white">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-easymeal mb-2"></i>
                        <h4 class="text-uppercase m-0">Dirección</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Av. Libertador Bernardo O'Higgins 2354, Santiago, Región Metropolitana</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-easymeal mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">contacto@easymeal.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-easymeal mb-2"></i>
                        <h4 class="text-uppercase m-0">Celular</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+(56) 9 5379033 </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

{% endblock %}