{% extends 'bases/base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/listado.css' %}" rel="stylesheet" />
{% endblock %}


{% block navbar %}
<a class="navbar-brand" href="#page-top">EasyMeal</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'recetas' %}">Recetas</a></li>

    </ul>
</div>
{% endblock %}


{% block contenido %}

<!-- Masthead-->
<header class="inicio-recetas">
    <div class="container px-4 px-lg-5 d-flex h-120 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h3 class="mx-auto my-0 text-uppercase">EasyMeal</h3>
                <h1 class="subtitulo-texto mx-auto mt-2 mb-5">CONOCE NUESTROS MENÚS</h1>
            </div>
        </div>
    </div>
</header>
<!-- Valores-->
<section class="valores-section text-center" id="recetas">
    <div class="recetas-section">
        <h2 class="text-black nuestros-valores">Recetas Disponibles</h2>
        <div class="listado-recetas">
            {% for receta in recetas_disponibles %}
            <div class="carta-receta">
                <img class="img-fluid img-receta" src="{% static receta.imagen %}" alt="..." />
                <p class="nombre-receta">{{receta.nombre}}</p>
                <button class="btn btn-primary btn-ver-receta" >
                    <a class="link-btn" href="{% url 'receta' receta.id %}">Ver Receta</a>
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

{% endblock %}